<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Employee" asp-action="Create">Create new Employee</a>

<h2>No Register Employee on the Application...Register New Employee by Creating.</h2>

