@model Inventory_Management_System.ViewModel.InventoryViewModel

@{
    ViewData["Title"] = "Update";
}

    <div class="row orderForm">

        <form asp-controller="Inventory" asp-action="Update" method="post" class="form-horizontal" role="form">
            <h3 class="col-md-offset-2">Update Inventory</h3>
            @Html.HiddenFor(m => Model.Inventory.inventoryItemsId)
            <div class="form-group">
                <label asp-for="Inventory.Warehouse" class="col-md-2 control-label"></label>
                <div class="col-md-6">

                    @Html.DropDownListFor(m => m.Inventory.WarehouseId,
                                            new SelectList(Model.Warehouses.Select(x => new { Value = x.warehouseId, Text = x.ProductName }), "Value", "Text"),
                                            htmlAttributes: new { @class = "form-control border-input" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.Employees" class="col-md-2 control-label"></label>
                <div class="col-md-6">

                    @Html.DropDownListFor(m => m.Inventory.EmployeeId,
                                            new SelectList(Model.Employee.Select(x => new { Value = x.employeeId, Text = x.Name }), "Value", "Text"),
                                            htmlAttributes: new { @class = "form-control border-input" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Inventory.inventoryName" class="col-md-2 control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Inventory.inventoryName" class="form-control" placeholder="Enter customers name" />
                    <span asp-validation-for="Inventory.inventoryName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group col-md-offset-2 col-md-6">
                    <input class="btn btn-default" type="submit" value="Return" asp-controller="Inventory" asp-action="List" />
                    <input class="btn btn-success" type="submit" value="Update" />
                </div>
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
